---
http_interactions:
- request:
    method: get
    uri: https://api.bestbuy.com/v1/stores(storeId=2740)?apiKey=qy8vdpfcgsxtfw657mnbu7nc&format=json&show=longName,city,storeType,postalCode,region,address,hoursAmPm
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-117.mashery.com
    body:
      encoding: UTF-8
      string: |-
        {
          "from": 1,
          "to": 1,
          "total": 1,
          "currentPage": 1,
          "totalPages": 1,
          "queryTime": "0.003",
          "totalTime": "0.005",
          "partial": false,
          "canonicalUrl": "/v1/stores(storeId=2740)?show=longName,city,storeType,postalCode,region,address,hoursAmPm&format=json&apiKey=qy8vdpfcgsxtfw657mnbu7nc",
          "stores": [
            {
              "longName": "Best Buy Mobile - Cherry Creek Shopping Center",
              "city": "Denver",
              "storeType": "Mobile",
              "postalCode": "80206",
              "region": "CO",
              "address": "3000 East First Ave",
              "hoursAmPm": "Mon: 10am-9pm; Tue: 10am-9pm; Wed: 10am-9pm; Thurs: 10am-9pm; Fri: 10am-9pm; Sat: 10am-9pm; Sun: 11am-6pm"
            }
          ]
        }
  recorded_at: Tue, 14 Jun 2016 17:51:44 GMT
recorded_with: VCR 3.0.3
