---
http_interactions:
- request:
    method: get
    uri: https://api.bestbuy.com/v1/stores(area(90035,25))?apiKey=qy8vdpfcgsxtfw657mnbu7nc&format=json&pageSize=15&show=longName,city,distance,phone,storeType,storeId
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-119.mashery.com
    body:
      encoding: UTF-8
      string: |-
        {
          "from": 1,
          "to": 15,
          "total": 39,
          "currentPage": 1,
          "totalPages": 3,
          "queryTime": "0.008",
          "totalTime": "0.035",
          "partial": false,
          "canonicalUrl": "/v1/stores(area(\"90035\",25))?show=longName,city,distance,phone,storeType,storeId&format=json&apiKey=qy8vdpfcgsxtfw657mnbu7nc",
          "stores": [
            {
              "longName": "Best Buy - Culver City",
              "city": "Culver City",
              "distance": 2.79,
              "phone": "310-204-2147",
              "storeType": "BigBox",
              "storeId": 179
            },
            {
              "longName": "Best Buy - West LA",
              "city": "Los Angeles",
              "distance": 3.36,
              "phone": "310-268-9190",
              "storeType": "BigBox",
              "storeId": 109
            },
            {
              "longName": "Best Buy - West Hollywood",
              "city": "W Hollywood",
              "distance": 3.43,
              "phone": "323-883-0219",
              "storeType": "BigBox",
              "[...]
